[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist,
    migrations,
    node_modules
ignore = 
    E203,
    W503,
    E501
per-file-ignores =
    __init__.py:F401
max-complexity = 10
show-source = true
statistics = true
count = true
